.loader {
    font-family: 'ZOOL KuaiLe', cursive;
    font-size: 40px;
    color: palevioletred;
    text-align: center;
    font-size: 1000%;
}

.loader::after {
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(5, end)2s infinite;
    -webkit-animation: dots steps(5, end)2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.25em;
    }
}


/* ----Responsive----- */

@media screen and (max-width: 1024px) {
    #wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 240px) {}